.gradienttext{
    background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%),
    linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: -0.04em;
}
.gptheadercontent p{
    font-size: 20px;
    color: #81AFDD;
    font-weight: normal;
    line-height: 27px;
    margin-top: 1rem;
}
.gptheader{ 
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: baseline;
    padding-left: 10%;
    padding-right: 10%;
}
.gptheadercontent{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.imgcontainer{
    width: 100%;
    height: 100%;
}
.gptimg{
    width: 100%;
    height: 100%;
}

/* get started button */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #81AFDD;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  